# EmailJS Configuration
# Получите эти значения после регистрации на https://www.emailjs.com/

# Service ID (из Dashboard -> Email Services)
VITE_EMAILJS_SERVICE_ID=service_qf8b9kb

# Template ID (из Dashboard -> Email Templates) 
VITE_EMAILJS_TEMPLATE_ID=template_y51kogl

# Public Key (из Dashboard -> Account)
VITE_EMAILJS_PUBLIC_KEY=dYq3Zo2151WAzNNCA
